*{
    margin: 0;
}

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


    .mulish-font {
        font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        
      }
/* nav section */
body{
    width: 90%;
    margin: 2rem auto;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
   
}
.logo{
    display: flex;
    align-items: center;
    width: 280px;
    gap: 8px;
   
}
.nav-container h2{
    font-size:2rem ;
    font-weight: 800;
}
.brand-name {
    
    color: rgba(255, 84, 0, 1);
}

.nav-options ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    
}
.nav-options li{
list-style: none;

}
.nav-options a{
    text-decoration: none;
    color: black;
}
.hamburger-icon{
    display: none;
}
/* hero section */
.hero{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.7) 0%,
    rgba(19, 19, 24, 0) 100%
    ),
     url('./Images/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    padding: 7rem 0;
    border-radius: 1rem;
    width: 100%;
    
    
}
.hero-text-container{
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.travel-title{
    font-size: 4rem;
    font-weight: 400;
}
.travel-subtitle{
    color: rgb(194, 204, 213);
    padding: 1.5rem 0;
    margin: auto;
}
.input-items{
    text-align: center;
    width: 800px;
    margin: auto;
    margin-top: 2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input, select{
width: 175px;
height: 50px;
padding: 0 0.5rem;
margin: 0 1rem;
border-radius: 8px;
border: none;
cursor: pointer;
}
.button-primary{
width: 175px;
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
border: none;
padding: 1.1rem 1.2rem;
background-color: rgba(255, 84, 0, 1);
color: white;
font-weight: 600;
}
/* popular tour */
.popular-section{
    display: flex;
    gap: 24px;
    padding: 4rem 0;
}
.title{
    font-size: 2.5rem;
}
.popular-section img {
    width: 100%;
  height: 60vh;
}
.popular-section p, li{
    margin: 1.2rem 0;
    color: rgba(19, 19, 24, 0.7);
}
/* destination section */

.subtitle{
    margin: 1.2rem 0;
    color: rgba(19, 19, 24, 0.7);

}
.text-container{
    text-align: center;
}
.row-1, .row-2, .row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 2.1rem;
}
.country-card{
    position: relative;
}
.destination img{
    width: 100%;
    height: 300px;
}
.country-name{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    transform: translate(-50%, -50%);
}
.row-2{
    
    grid-template-columns: 0.9fr 1.3fr 0.8fr;
    
 
}



@media screen and (max-width:576px){
    body{
        width: 90%;
        margin: 1.2rem auto;
        
    }
    .hamburger-icon{
        display: block;
    }
    .nav-options {
        display: none;
    }
 h1, .travel-title{
    font-size: 1.2rem;
    margin-top: 1.2rem;
 }
 .travel-subtitle{
    width: 70%;
    font-size: 12px;
 }
 .hero{
    padding: 8px 0;
   
 }
 .input-items{
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-bottom: 1.2rem;

 }
 .input-items input,
 .input-items select,
 .input-items .button-primary{
    width: 100%;
    margin: 1rem 0;
 }
 .popular-section{
    flex-direction: column;
  
}

.row-1, .row-2, .row-3{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 1rem 0;
    
}


}